asgiref==3.8.1
Django==4.1
django-jet-reboot==1.3.10
Faker==37.1.0
gunicorn==20.1.0  # or latest version
pillow==11.1.0
pytz==2025.2
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.3.0  # or latest version
